myPackage/__pycache__/__init__.cpython-310.pyc
myPackage/__pycache__/somePython.cpython-310.pyc
myPackage/services/__pycache__/__init__.cpython-310.pyc
myPackage/services/__pycache__/service.cpython-310.pyc
